body {
    padding: 0;
    margin: 0;
  }
  
  body,
  html {
    height: 100%;
  }

  #map {
    height: 50vh;
    margin-top: 10px;
  }
  
  
  #chart {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 600px;
  }
  .bar {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-right: 10px;
  }
  .bar-label {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }
  .bar-value {
    background-color: #4285f4;
    height: 100%;
    width: 100%;
  }